{% load static %}

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{%static 'css/style.css'%}" >
	</head>
	<body>
		<header>
			
			<div class="topnav">
				<a class="active" href="/contact">Contact</a>
				<a href="/photo">Photos</a>
				<a href="/">Home</a>
			</div>
			
		</header>	
		<div id="style12"> <div id="style13"> hi there  </div> </div>
		<div class="container">
		  <img src="{%static 'image/bg4.jpg'%}" class="image">
		  <div class="overlay">Principal: Dipak bhattarai </div>
		</div>
		
		
		

		<table id="myTable">
		  <tr>
			<th>Name</th>
			<th>Phone no.:</th>
		  </tr>
		  
			{% for name in name1 %}
				<tr>
					<td>{{name.name}}</td>
					<td>{{name.phone}}</td>
				</tr>
			{% endfor %}	

		  
		  
		</table>
		
		<footer>
			<div id="style8">
				<div id="style9"></div>
				<div id="style10"> <h1>CONTACT</h1><br> <h2> phone no:987654321 <br> email:example@gmail.com<br> address: Kalanki, Syuchatar<br> </h2> </div>
			</div>
		</footer>

		<script>
		function sortTable() {
		  var table, rows, switching, i, x, y, shouldSwitch;
		  table = document.getElementById("myTable");
		  switching = true;
		  /*Make a loop that will continue until
		  no switching has been done:*/
		  while (switching) {
			//start by saying: no switching is done:
			switching = false;
			rows = table.rows;
			/*Loop through all table rows (except the
			first, which contains table headers):*/
			for (i = 1; i < (rows.length - 1); i++) {
			  //start by saying there should be no switching:
			  shouldSwitch = false;
			  /*Get the two elements you want to compare,
			  one from current row and one from the next:*/
			  x = rows[i].getElementsByTagName("TD")[0];
			  y = rows[i + 1].getElementsByTagName("TD")[0];
			  //check if the two rows should switch place:
			  if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
				//if so, mark as a switch and break the loop:
				shouldSwitch = true;
				break;
			  }
			}
			if (shouldSwitch) {
			  /*If a switch has been marked, make the switch
			  and mark that a switch has been done:*/
			  rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
			  switching = true;
			}
		  }
		}
		</script>

	</body>
</html>

